
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,700;2400&display=swap');


#pane{
    -fx-background-color: linear-gradient(to left, #1b2e44,#354055);
    -fx-font-family: 'Poppins';
}

#h1,#h2{
    -fx-font-family: 'Poppins';
    -fx-font-weight: 700;
    -fx-text-color: #EAF6FF;
}
#button1,#button2,#button3,#button4 {
    -fx-border:none;
    -fx-background-radius:15;
    -fx-font-family: 'Poppins';

}
#button1{
    -fx-background-color: #EAF6FF;
    -fx-font-weight: 400;
}
#button1:hover{
    -fx-background-color:  #009FFD;
    -fx-border-color:#009FFD;
    -fx-border-radius: 15;
    -fx-text-fill: #EAF6FF;
    -fx-cursor: hand;
}
#button2{
    -fx-background-color:  linear-gradient(to left, #1b2e44,#354055);
    -fx-border-color:#EAF6FF;
    -fx-border-radius: 15;
}
#button2:hover{
    -fx-cursor: hand;
    -fx-background-color: #009FFD;
    -fx-border-color: #009FFD;
    -fx-font-weight: 400;
    -fx-text-fill: #EAF6FF;
}
#button2:focused{
    -fx-text-fill: #EAF6FF;
}
#button3{
    -fx-background-color: #EAF6FF;
}
#button3:hover{
    -fx-cursor: hand;
    -fx-background-color:  #FFA400;
    -fx-border-radius: 15;
    -fx-text-fill: #EAF6FF;
}
#button4{
    -fx-background-color:#009FFD;
}
#button4:hover{
    -fx-cursor: hand;
    -fx-background-color:#FFA400;
    -fx-text-fill: linear-gradient(to left, #1b2e44,#354055);
}
#exit:hover
{
    -fx-cursor: hand;
}

#exit{
}