@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');
#WindowBorder
{
    -fx-background-color: #d1d1f3;
}
#sideBar
{
    -fx-background-color: linear-gradient(to left, #1b2e44,#354055);
    -fx-background-radius: 0 25 0 0;
}
#navbar{
    -fx-border:none;
    -fx-background-color: transparent;
}
#profile{
    -fx-background-image: url("Main_Images/bg.png");
    -fx-background-radius: 360deg;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.navButtons{
    -fx-background-color: transparent;
    -fx-text-fill: #eef6ff;
}
/*For new Dashboard*/

#closeBtn,#maxBtn,#restoreBtn,#menuBarBtn
{
    -fx-background-color: transparent;
}
#navPanel
{
    -fx-background-color:  #1b2e44;
}
.text
{
    -fx-font-family: Poppins , SansSerif ;
}
#stageBorderPane
{
    -fx-background-color:  #1b2e44;
}
/*---- for hovering -----*/
#closeBtn:hover
{
    -fx-background-radius: 0px;
    -fx-background-color: #FF0606;
}
#maxBtn:hover
{
    -fx-cursor: hand;
    -fx-background-radius: 0px;
    -fx-background-color: rgba(187, 184, 184, 0.35);
}
#restoreBtn:hover
{
    -fx-background-radius: 0px;
    -fx-background-color: rgba(187, 184, 184, 0.35);
}
#menuBarBtn:hover
{
    -fx-background-radius: 0px ;
    -fx-cursor: hand;
    -fx-background-color: rgba(187, 184, 184, 0.10);
}
#accountSettings:hover
{
    -fx-background-color: rgba(187, 184, 184, 0.31);
}
#logOut:hover
{
    -fx-background-color: rgba(187, 184, 184, 0.10);
}

#accountSettings,#logOut
{
    -fx-background-color: transparent;
    -fx-font-size: 10px;
}

/*--- end of hovering block ---*/

#logOut
{

}
.borderName
{
    -fx-background-color: rgba(35, 47, 66, 0.54);
}
.scroll-pane
{
    -fx-background-color:  F2F2F2;
}
.scroll-pane .scroll-bar:horizontal
{
    -fx-background-color: transparent;

}
.scroll-pane .scroll-bar:horizontal .track
{
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 20px ;
}
.scroll-pane .scroll-bar:horizontal .thumb
{
    -fx-background-color: #232F42;
    -fx-background-radius: 20px ;
}

.scroll-pane .scroll-bar:vertical
{
    -fx-background-color: transparent;

}
.scroll-pane .scroll-bar:vertical .track
{
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 20px ;
}
.scroll-pane .scroll-bar:vertical .thumb
{
    -fx-background-color: #232F42;
    -fx-background-radius: 20px ;
}
.scroll-pane.scroll-bar.increment-arrow,
.scroll-pane.scroll-bar.decrement-arrow
{
    -fx-padding: -10px;
}

.patches
{
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(Gaussian, rgba(0, 0, 0, 0.15), 30, 0.1, 2, 3);
}
.patches_top
{
    -fx-background-color: #232F42;
    -fx-background-radius: 12 12 0 0;
}

.patches_top_button
{
    -fx-background-color: #8E9DB5;
    -fx-background-radius: 12 12 0 0;
    -fx-border-width: 0 1 0 0;
    -fx-border-radius: 0 0 1 0;
    -fx-border-color: #03032c;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
}
.patches_top_button:hover
{
    -fx-background-color: #232F42;
}
#Recentbtn:pressed
{
    -fx-background-color: black;
}

.myownbuttons
{
    -fx-background-color: #232f42;
    -fx-background-radius: 12px ;
    -fx-text-fill: white;
}
.myownHBOX:hover
{
    -fx-background-color: rgba(115, 115, 115, 0.10);
}