.text
{
    -fx-font-family: Poppins , SansSerif ;
}
#topborder{
    -fx-background-color: #000000;
    -fx-border:none;
    -fx-background-radius: 25 25 0 0;
}
#main{
    -fx-background-color: #000000;
    -fx-border:none;
    -fx-background-radius: 25;
}

#queries{
    -fx-background-radius: 15;
    -fx-background-color: #eef6ff;
}
.buttons
{
    -fx-background-color: #232f42;
    -fx-background-radius: 12px ;
    -fx-text-fill: white;
}
.label {
    -fx-font-size: 16px;
}

.text-field {
    -fx-font-size: 14px;
    -fx-pref-width: 300px;
    -fx-padding: 10px;
}

.text-area {
    -fx-font-size: 14px;
    -fx-pref-width: 300px;
    -fx-pref-height: 200px;
    -fx-padding: 10px;
}

.button {
    -fx-font-size: 14px;
    -fx-pref-width: 80px;
    -fx-padding: 10px;
}

