@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');

#Main{
    -fx-background-color: linear-gradient(to left, #1b2e44,#354055);
    }
#button1,#button2,#button3{
    -fx-background-color: transparent;
    -fx-text-fill: #EAF6FF;
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
}

#t1,#t2,#t3,#t4,#t5,#t6{
    -fx-background-radius: 15px;
    -fx-border-color: none;
}
#t1:pressed{
    -fx-border-color: none;
}

#hbox{
    -fx-background-color: transparent;
}
#next{
    -fx-background-color: #009FFD;
    -fx-background-radius:12px;
    -fx-text-fill: #ffffff;
}
#next:hover{
    -fx-cursor: hand;
    -fx-background-color: #FFA400;
    -fx-text-fill: #EAF6FF;
    -fx-background-radius:12px;
    -fx-border-radius:12px;
}
#exit:hover{
    -fx-cursor: hand;
}
#done{
    -fx-cursor: hand;
    -fx-background-color: #FFA400;
    -fx-text-fill: #EAF6FF;
    -fx-background-radius:12px;
    -fx-border-radius:12px;
}
#done:hover{
    -fx-background-color: #009FFD;
    -fx-background-radius:12px;
    -fx-text-fill: #ffffff;
}

#BackToLogin
{
    -fx-background-color: #009FFD;
    -fx-text-fill: #EAF6FF;
    -fx-background-radius:12px;
    -fx-border-radius:12px;
}
#BackToLogin:hover
{
    -fx-cursor: hand;
}
#back:hover{
    -fx-cursor: hand;
}

