@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');

#Main{
    -fx-background-color: linear-gradient(to left, #232f42,#354055);
}
#button1,#button2,#button3{
    -fx-background-color: transparent;
    -fx-text-fill: #EAF6FF;
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
}
#t1,#t2,#t3,#t4{
    -fx-background-radius: 15px;
}
#hbox{
    -fx-background-color: transparent;
}
#next{
    -fx-background-radius:15px;
    -fx-background-color:#EAF6FF;
    -fx-text-fill: #000000;
}