#AnchorPane {

    -fx-background-color: #2D384C;

}

#borderPane
{
    -fx-background-color: #4F5E78;
}
#bluebar112
{
    -fx-background-color: rgba(0, 161, 255, 0.6);
}
#bluebar11 {
    -fx-background-color: #00A1FF;
}
#bluebar111
{
    -fx-background-color: rgba(0, 161, 255, 0.6);
}

#AccountInfo{
    -fx-background-color: #ffffff;
}